@import url(default.css);
@import url(style.css);


@font-face {
    font-family: 'SourceSansPro Regular';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'SourceSansPro Semibold';
    src: url('../fonts/SourceSansPro-Semibold.ttf');
}

@font-face {
    font-family: 'SourceSansPro Light';
    src: url('../fonts/SourceSansPro-Light.ttf');
}